In [35]:
import pandas as pd

In [36]:
Mydataframe=pd.read_csv("Показатели продаж товарной группы.csv", delimiter=",")

In [37]:
print(Mydataframe)

  Период;январь;февраль;март;апрель;май;июнь;июль;август;сентябрь;октябрь;ноябрь;декабрь
0  Оборот_руб;8974720.46;2972822.05;2826615.24;30...
1  Прибыль_руб;1787300.87;763813.15;667117.91;103...
2  Количество_продаж;85;95;90;117;109;86;135;125;...
3  Посещаемость_группы_на_сайте;4327;5017;4958;55...

In [38]:
print(Mydataframe.describe())

       Период;январь;февраль;март;апрель;май;июнь;июль;август;сентябрь;октябрь;ноябрь;декабрь
count                                                   4
unique                                                  4
top     Оборот_руб;8974720.46;2972822.05;2826615.24;30...
freq                                                    1

In [39]:
print(Mydataframe.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column                                                                                  Non-Null Count  Dtype
---  ------                                                                                  --------------  -----
 0   Период;январь;февраль;март;апрель;май;июнь;июль;август;сентябрь;октябрь;ноябрь;декабрь  4 non-null      object
dtypes: object(1)
memory usage: 164.0+ bytes
None